<html>
<head>
    <title>Coding with Django</title>
</head>
<body>
<div>
    <h1>Comment utiliser le code au quotidien dans mon travail ?</h1>
</div>
<p>Coder directement des extensions à <strong>WordPress</strong> : est-ce possible avec Django ?</p>
<div> </div>
<h2> Comment faire pour poursuivre ma formation en code ?</h2>
</div>
<div> </div>
<h3>Monter un <strong>premier projet</strong> en utilisant Django / Python </h3>
<ul><li>Créer une extension pratique pour l'outil Quizz</li>
    <li>Demander avec quel langage le site d'idealo a été crée</li>
    <li>Appliquer ce que j'ai appris à mon projet de site</li></ul>
</div>
</body>
</html>